random.seed 1234567890
# keep simulation.cycle 1
# number of iteration is controlled by GadgetProtocol.iter
simulation.cycles 3000

network.size 36
network.node.size 36
network.node peersim.gossip.PegasosNode
network.node.resourcepath /home/raghuram/Downloads/pegasos/data
# These three parameter is used by pegasos, if not given 
# takes default values 0.001, 100000 and 1
network.node.lambda 0.01
network.node.maxiter 1000
network.node.examperiter 1000

# connectivity of nodes
degree 12

protocol.0 newscast.SimpleNewscast
protocol.0.cache degree

protocol.1 peersim.gossip.GadgetProtocol4
protocol.1.linkable 0
# learning rate and iter for GADGET, keep lambda smaller and iter larger
protocol.1.lambda 0.01
protocol.1.iter 7
protocol.1.prot pushsum1


init.0 WireKOut
init.0.protocol 0
init.0.k degree

control.d0 peersim.gossip.PushSumObserver
control.d0.protocol 1
control.d0.accuracy 0.00001
control.d0.prot pushsum1



# final control only runs once at last, so any cleanup can be done here
control.f0 peersim.gossip.FinalControl
control.f0.protocol 1
control.f0.until 0
control.f0.step 1
control.f0.FINAL
